<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div class="footer-copyright">&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></div>
      <a class="linkedin-icon nav-icon-large" href="<%- url_for(theme.linkedin) %>" title="<%= __('linkedin') %>"></a>
      <a class="github-icon nav-icon-large" href="<%- url_for(theme.github) %>" title="<%= __('github') %>"></a>
      <br>
    </div>
  </div>
</footer>
